{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Recruiter Dashboard</h2>
            <hr />
            <p>Welcome to your recruiter dashboard! This page is currently empty but accessible only to recruiters.</p>
            <p>You can add recruiter-specific functionality here in the future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
